ul#menu,ul#menu ul
{
	margin:0;
	list-style:none;
	padding:0;
	background-color:#dedede;
	border-width:1px;
	border-style:solid;
	border-color:#5f5f5f;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

ul#menu ul
{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	box-shadow:3.5px 3.5px 5px #000000;
	background-color:#FFFFFF;
	border-radius:6px;
	-moz-box-shadow:3.5px 3.5px 5px #000000;
	-webkit-box-shadow:3.5px 3.5px 5px #000000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-color:#d4d4d4;
	padding:0 10px 10px;
}
	
ul#menu li:hover>*
{
	display:block;
}

ul#menu li
{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
	float:left;
}

ul#menu li:hover
{
	z-index:1;
}

ul#menu
{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	padding:0;
	*display:inline;
}

* html ul#menu li a
{
	display:inline-block;
}

ul#menu>li
{
	margin:0;
}

ul#menu a:active, ul#menu a:focus
{
	outline-style:none;
}

ul#menu a
{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:bold 14px Trebuchet MS;
	color:#000000;
	text-shadow:#FFF 0 0 1px;
	cursor:pointer;
	padding:4px 10px 4px 10px;
	background-color:#c1c1c1;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-width:0 0 0 1px;
	border-style:solid;
	border-color:#C0C0C0;
}

ul#menu ul li
{
	float:none;
	margin:10px 0 0;
}

ul#menu ul a
{
	text-align:left;
	padding:4px;
	background-color:#FFFFFF;
	background-image:none;
	border-width:0;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	font:14px Tahoma;
	color:#000;
	text-decoration:none;
}

ul#menu li:hover>a, ul#menu li a.pressed
{
	background-color: #79BBFF;
	border-color:#C0C0C0;
	border-style:solid;
	color:#000000;
	text-shadow:#FFF 0 0 1px;
	background-image:url("mainbk.png");
	background-position:0 100px;
	text-decoration:none;
}

ul#menu img
{
	border:none;
	vertical-align:middle;
	margin-right:4px;
}

ul#menu span
{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:0px;
}

ul#menu ul li:hover>a,ul#menu ul li a.pressed
{
	background-color:#FFFFFF;
	background-image:none;
	color:#0978b3;
	text-decoration:none;
}

ul#menu li.topfirst>a
{
	border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
}

ul#menu li.toplast>a
{
	border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
	
ul#menu li.topExtra>a
{
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	float: right;
	text-align: center;
	background-color:#0c97e2;
	text-decoration:none;
}
