body{
	background-color:#c5e2f4;
	font-size: 62.5%;
}

label,input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

div#users-contain {
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div#users-contain table td,div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}
li
{
	display:inline;
}
#main{
	margin:2% 0% 0% 2%;
	height:100%;
	width:90%;
	
}
#title{
	text-align:center;
	font-size:25px;
	font-weight:bold;
}
.header{
	height:20px;
	width:100%;
	margin:20px 0px 20px 30px;
}
.button{
	-moz-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	-webkit-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	
}.button:hover {
	background-color:#378de5;
}.button:active {
	position:relative;
	top:1px;
}

.upperButton{
	-moz-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	-webkit-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	height: 30px;
	width: 70px;
	margin: 0% 0 1% 0;
}.upperButton:hover {
	background-color:#378de5;
}.upperButton:active {
	position:relative;
	top:1px;
}

.searchButton
{
	-moz-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	-webkit-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	background-color: #79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:black;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:2px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	height: 25px;
	width: 90px;
	float:right;
	margin: 1% 0 1% 0;
}.searchButton:hover {
	background-color:#378de5;
}.searchButton:active {
	position:relative;
	top:1px;
}

.horiNotice{
	position:relative;
	float:left;
	background-image:url('images/ppr.png');
	background-repeat:no-repeat;
	background-size:contain;
	height:280px;	
	width:25%;
	margin:2% 2% 0% 4%;
}
.topic{
	font-weight:bold;
	font-size:20px;
	height:50px;
	margin-left:10px;
}
.content{
	height:110px;
	margin-left:10px;
	font-size:15px;
	width: 90%;
	overflow: auto;
}
.footer{
	font-size:12px;
	color:grey;
	height:50px;
	text-align:center;
	width: 90%;
}

.rightButton
{
	-moz-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	-webkit-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	background-color: white;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	color: white;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	height: 19px;
	width: 150px;
	float:right;
	margin: 1% 2px;
}
.rightButton:hover {
	background-color:#378de5;
}.rightButton:active {
	position:relative;
	top:1px;
}
.dropDown
{
	-moz-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	-webkit-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	background-color: #79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	color: white;
	font-family:arial;
	font-size: 15px;
	font-weight:bold;
	padding:2px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	height: 25px;
	width: 90px;
	float:right;
	margin: 1% 2px;
}
.dropDown:hover {
	background-color:#378de5;
}
.rightSearch
{
	-moz-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	-webkit-box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	box-shadow:inset -2px 1px 4px -2px #bbdaf7;
	background-color: white;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	height: 19px;
	width: 150px;
	float:right;
	margin: 1% 2px;
}